<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

  <body>
    <div class="container">
      <%- include('../partials/header'); %>

        <main class="py-3 jumbotron">
          <h1 class="px-3">Node + EJS</h1>
        </main>

        <ul>
          <% qualities.forEach((quality)=> { %>
            <li>
              <strong>
                <%= quality.title %>
              </strong>
              <%= quality.message %>
            </li>
            <%}) %>
        </ul>

        <%- include('../partials/footer'); %>
    </div>
  </body>

</html>
